body {
  background-image: url("../assets/background.png"); }

h1.theme {
  color: white; }

div.search-box {
  margin-top: 30px;
  text-align: right; }

div.social-box {
  text-align: right; }

img.social-icon {
  width: 20px;
  height: 20px; }

img.logo {
  width: 40px;
  height: 40px;
  border-radius: 25px;
  box-shadow: #000000 5px 5px 10px; }

a.link-color {
  color: white; }

a.link-gallery {
  color: black; }

div.link-container {
  text-align: right;
  text-decoration: underline; }

div#tabs-margin {
  margin: 0 auto;
  width: 90%;
  padding: 0; }

div#tabs-box {
  padding: 0; }

ul#padding {
  padding-bottom: 10px; }

li.tabs-style {
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: #000000 1px 1px 10px;
  border-radius: 5px;
  margin-right: 10px; }

a.tab-button {
  color: black;
  cursor: pointer; }

#isotope-grid {
  width: 90%;
  margin: 0 auto; }

div.grid-item {
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: #000000 1px 1px 10px;
  width: 300px;
  margin: 10px 10px 0px 0px;
  padding: 10px;
  border-radius: 5px; }

img.img-responsive {
  border-radius: 5px; }

@media (max-width: 768px) {
  div.pad {
    max-width: 500px;
    width: 97%; } }
