body.theme {
  background-color: #f0c100; }

div.flex-container {
  padding: 15px 10vw 15px 10vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column wrap;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  /* shorthand for flex-direction and flex-wrap */
  height: 100vw; }

div.flex-item {
  background-color: #f5f5f5;
  margin: 0 20px 0px 0px;
  padding: 10px;
  width: 30%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto; }

#masonry-grid {
  width: 80%;
  margin: 0 auto; }

div.grid-box {
  background-color: #f5f5f5;
  margin: 0 20px 0px 0px;
  padding: 10px; }

div.grid-item {
  width: 300px;
  margin: 10px; }

div.search-box {
  margin-top: 20px;
  text-align: right; }

div.social-box {
  text-align: right; }

img.social-icon {
  width: 20px;
  height: 20px; }

img.logo {
  width: 40px;
  height: 40px; }

div#tabs-box {
  width: 80%;
  margin: 0 auto; }

li.tabs-style {
  background-color: #f5f5f5;
  color: black; }

a.tab-button {
  color: black;
  cursor: pointer; }

a.link-color {
  color: black; }

a.link-gallery {
  color: black; }

div.link-container {
  text-align: right;
  text-decoration: underline; }

@media (max-width: 768px) {
  div.pad {
    max-width: 500px;
    width: 97%; } }
