$light-grey: #f;

body.theme{
  background-color: #f0c100;
  color: white;
}

div.flex-container {
  padding: 15px 10vw 15px 10vw;
  display: flex;
  flex-flow: column wrap; /* shorthand for flex-direction and flex-wrap */
  height: 100vw;
}


div.flex-item {
  background-color: $light-grey;
  margin: 0 20px 0px 0px;
  padding: 10px;
  width: 30%;
  flex: 0 0 auto;
}

div.search-box {
  margin-top: 20px;
  text-align: right;
}

div.social-box {
  text-align: right;
}

img.social-icon {
  width: 20px;
  height: 20px;
}

div.tabs-box {
  margin-left: 10vw;
}

li.tab-artstyle {
  background-color: $light-grey;
  margin: 10px 10px 20px 0;
}

a.link-color {
  color: black;
}

div.link-container{
  text-align: right;
  text-decoration: underline;
}


@media (max-width:768px){
  div.pad {
    max-width: 500px;
    width: 97%;
  }
}